.TitleDescription{
    color: #9b9b9b;
    padding-left: 3px;
}
.TitleItem{
    text-align: left;
}
.layout{
    padding: 30px;
    background-color: #f0f0f0;
}
.TablePaper{
    padding: 30px !important;
}
.css-jgzxgq-MuiDataGrid-root {
    border:none;
}