.TitleDescription{
    color: #9b9b9b;
    padding-left: 3px;
}
.TitleItem{
    text-align: left;
}

.layout{
    padding: 30px !important;
    background-color: #f0f2f5 !important;
    min-height: 100vh;
}

.css-jgzxgq-MuiDataGrid-root {
    border:none;
}


.TableGrid{
    height: 100vh;
}
.Searchbar{
    padding: 0.55rem 2rem;
    border-radius: 100rem !important
}