.TitleDescription{
    color: #9b9b9b;
    padding-left: 3px;
}
.TitleItem{
    text-align: left;
}

.TablePaper{
    padding: 30px !important;
    background-color: #fbfbfb !important;

}
.css-jgzxgq-MuiDataGrid-root {
    border:none;
}


.TableGrid{
    height: 100vh;
    margin-top: 17px;
}
.Searchbar{
    padding: 0.55rem 2rem;
    border-radius: 100rem !important
}